@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Configuration
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@{
    var storeId = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.Id;
    var headerLayout = EngineContext.Current.Resolve<ISettingService>().GetSettingByKey("uptownthemesettings.headerlayout", "header-1", storeId, true);
    var isHeader1 = String.Compare(headerLayout, "header-1", true) == 0;
}
<div class="header @headerLayout">
    @Html.Widget("header")
    <div class="header-upper">
        <div class="header-centering">
            <div class="header-welcome-message">
                @T("SevenSpikes.Themes.Uptown.Common.Welcome")
            </div>
            @if (isHeader1)
            {
                @Html.Partial("HeaderSocials")
            }
            <div class="header-upper-centering">
                <div class="header-links-selectors-wrapper">
                    <div class="header-links-wrapper">
                        @Html.Action("HeaderLinks", "Common")
                    </div>

                    <div class="header-selectors-wrapper">
                        @Html.Action("TaxTypeSelector", "Common")
                        @Html.Action("CurrencySelector", "Common")
                        @Html.Action("LanguageSelector", "Common")
                        @Html.Widget("header_selectors")
                    </div>
                </div>
                @if (!isHeader1)
                {
                    @Html.Partial("HeaderSocials")
                }
            </div>
        </div>
    </div>

    <div class="header-lower">
        <div class="header-centering">
            <div class="header-logo">
                @Html.Action("Logo", "Common")
            </div>

            <div class="header-cart-search-wrapper">
                
                @Html.Action("FlyoutShoppingCart", "ShoppingCart")
                
                <div class="search-box store-search-box">
                    @Html.Action("SearchBox", "Catalog")
                </div>
            </div>

            @if (isHeader1)
            {
                <div class="header-menu-wrapper">
                    <div class="header-menu">
                        <div class="close-menu">
                            <span>@T("SevenSpikes.Themes.Common.CloseMenu")</span>
                        </div>
                        @{
                            var menuHtml = Html.Widget("theme_header_menu");
                        }
                        @if (!MvcHtmlString.IsNullOrEmpty(menuHtml))
                        {
                            @menuHtml
                        }
                        else
                        {
                            @Html.Action("TopMenu", "Catalog")
                        }
                        @Html.Partial("HeaderSocials")
                    </div>
                </div>
            }

        </div>
    </div>
</div>
