@using Nop.Plugin.Misc.SMS.Models;
@using Nop.Web.Framework;
@model SMSModel
@*BUGFIX 3.812*@
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @Html.ValidationSummary(false)
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ProviderNameTr)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.ProviderNameTr)
                                @Html.ValidationMessageFor(model => model.ProviderNameTr)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ActiveTr)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.ActiveTr)
                                @Html.ValidationMessageFor(model => model.ActiveTr)
                            </div>
                        </div>
                        <!--NOP 3.821-->
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.BaseURLTr)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.BaseURLTr)
                                @Html.ValidationMessageFor(model => model.BaseURLTr)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ResourceTr)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.ResourceTr)
                                @Html.ValidationMessageFor(model => model.ResourceTr)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.CountryCodeTr)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.CountryCodeTr)
                                @Html.ValidationMessageFor(model => model.CountryCodeTr)
                            </div>
                        </div>
                        <!--NOP 3.821-->
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.PhoneNumberTr)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.PhoneNumberTr)
                                @Html.ValidationMessageFor(model => model.PhoneNumberTr)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.UserNameTr)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.UserNameTr)
                                @Html.ValidationMessageFor(model => model.UserNameTr)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.PasswordTr)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.PasswordTr)
                                @Html.ValidationMessageFor(model => model.PasswordTr)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AccountSidTr)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AccountSidTr)
                                @Html.ValidationMessageFor(model => model.AccountSidTr)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AuthTokenTr)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AuthTokenTr)
                                @Html.ValidationMessageFor(model => model.AuthTokenTr)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.MessageTemplateTr)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.MessageTemplateTr)
                                @Html.ValidationMessageFor(model => model.MessageTemplateTr)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}